@use '../../variables';

.magician-card {
    padding: 20px;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .icon-container {
        svg {
            height: 60px;
            width: 60px;
        }
    }

    h3 {
        font-family: variables.$heading-font;
        font-weight: 700;
        color: variables.$dark;
        font-size: 1.3rem;
        margin: 0;
    }

    p {
        font-family: variables.$other-font;
        font-weight: 700;
        color: variables.$dark-300 !important;
        font-size: .8rem;
    }
}