$brand-color: #D20B2A;
$brand-light-color: #d20b296d;
$secondary-color: #ffd166;
$violet-light: #E4D3FF;
$light: #fff;
$dull-light: rgb(234, 234, 234);
$light-background1: #DCFFFE;
$light-background2: #EAFFEC;
$dark: #000;
$dark-300: #adb5bd;
$light-dark: #3c3b3d;
$lightest-dark: #3c3b3d53;
$soft-green: #1A9885;
$soft-orange: #FF7C29;
$teel: #06d6a0;


$heading-font: 'Nunito', sans-serif;
$other-font: 'Comfortaa', cursive;
$secondary-font: 'Dangrek', cursive;